<div class="footer-container">
  <div class="left-text">
    ©2019 ecoATM, LLC.
    <br>
    All Rights Reserved, Patents Pending.
  </div>
  <div class="right-text">
    ecoATM and Gazelle are not affiliated with nor have they been authorized, sponsored,
    or otherwise approved by the manufacturers of the items available for purchase.
    Gazelle and the Gazelle logo are trademarks of ecoATM, LLC, registered in the U.S. All other trademarks,
    logos, and brands are the property of their respective owners. ecoATM, LLC – CA DOJ #3711-2068.
  </div>
</div>
