:host {
  flex-basis: 0;
  .footer-container{
    background-color: rgb(48, 45, 45);
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    z-index: 1;
    .left-text {
      margin: 25px;
    }
    .right-text {
      margin: 15px;
      width: 47%;
      color: dimgrey;
    }
  }
}
